@import './variables.scss';

.skills-container {
    padding: 50px;
    background: #333;
    text-align: center;
  }
  
  .skills-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f39c12;
    font-family: $font_family;

  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    color: #f39c12;
    &:hover{
      color: white;
    }
  }
  
  .skill-name {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #f39c12;
   
  }
  